{% if flags.crude_language == Some(true) %}
<img src="/assets/icons/language.png" alt="Crude Language" class=flag />
{% endif %}
{% if flags.violence == Some(true) %}
<img src="/assets/icons/hand.png" alt="Violence" class=flag />
{% endif %}
{% if flags.some_explicit == Some(true) %}
<img src="/assets/icons/lipssmall.png" alt="Some Sexually Explicit Content" class=flag />
{% endif %}
{% if flags.explicit == Some(true) %}
<img src="/assets/icons/flames.png" alt="Sexually Explicit Content" class=flag />
{% endif %}
{% if flags.abridged == Some(true) %}
<img src="/assets/icons/abridged.png" alt="Abridged" class=flag />
{% endif %}
{% if flags.lgbt == Some(true) %}
<img src="/assets/icons/lgbt.png" alt="LGBT" class=flag />
{% endif %}
