{% extends "base.html" %}

{% block title %}MLM - Errors{% endblock %}

{% block head %}
  <style>
    .ErrorsTable {
      {{self::table_styles(5) | safe}}
    }
  </style>
{% endblock %}

{% block content %}
<h1>Torrent Errors</h1>
<p>Errors encountered while either grabbing, linking or cleaning torrents</p>
<div class="ErrorsTable table">
  {{ table_header(Some(ErrorsPageSort::Step), "Step") }}
  {{ table_header(Some(ErrorsPageSort::Title), "Title") }}
  {{ table_header(Some(ErrorsPageSort::Error), "Error") }}
  {{ table_header(Some(ErrorsPageSort::CreatedAt), "When") }}
  {{ table_header(None, "") }}
{% for error in errors %}
  <div>{{ self::item(ErrorsPageFilter::Step, error.id.step()) }}</div>
  <div>{{ self::item(ErrorsPageFilter::Title, error.title) }}</div>
  <div>{{ error.error }}</div>
  <div>{{ self::time(error.created_at) }}</div>
  <div>
  {% match error.meta %}
    {% when Some(meta) %}
      <a href="https://www.myanonamouse.net/t/{{ meta.mam_id }}" target=_blank>MaM</a>
    {% when None %}
  {% endmatch %}
  </div>
{% endfor %}
{% if errors.is_empty() %}
<p><i>There are currently no errors</i>
{% endif %}
</div>
{% endblock %}
