{% extends "base.html" %}

{% block title %}MLM - Events{% endblock %}

{% block head %}
  <style>
    .EventsTable {
      {{self::table_styles(2) | safe}}
      grid-template-columns: auto 1fr;
    }
  </style>
{% endblock %}

{% block content %}
<div class="row">
  <h1>Events</h1>
  <div class="option_group">
    Show:
    <label>
      All
      <input type=radio name=show {% if show.is_none() %}checked{% endif %}>
    </label>
    <label>
      Grabber
      <input type=radio name=show {% if show == Some("grabber") %}checked{% endif %} value="grabber">
    </label>
    <label>
      Linker
      <input type=radio name=show {% if show == Some("linker") %}checked{% endif %} value="linker">
    </label>
    <label>
      Cleaner
      <input type=radio name=show {% if show == Some("cleaner") %}checked{% endif %} value="cleaner">
    </label>
  </div>
  <div class="option_group">
    Page size: {{ paging.selector([100, 500, 1000, 5000]) | safe }}
  </div>
</div>

<div class="EventsTable table">
{% for (event, torrent, replacement) in events %}
  <div>{{ self::time(event.created_at) }}</div>
  <div>
  {% match event.event %}
  {% when EventType::Grabbed { cost, wedged } %}
    Grabbed {{ torrent_main_cat(&torrent) }} Torrent {{ torrent_title(&torrent) | safe }}
    {% if wedged %} using a wedge
    {% else %}{% match cost %}
      {% when Some(TorrentCost::Vip) %} as VIP
      {% when Some(TorrentCost::GlobalFreeleech) %} as Freeleech
      {% when Some(TorrentCost::PersonalFreeleech) %} as Personal Freeleech
      {% when Some(_) %} using ratio
      {% when _ %}{% endmatch %}{% endif %}<br />
  {% when EventType::Linked { library_path } %}
    Linked {{ torrent_main_cat(&torrent) }} Torrent {{ torrent_title(&torrent) | safe }}<br />
    to: {{ library_path.to_string_lossy() }}<br />
    {% if let Some(torrent) = torrent %}
    files:
    <ul>
    {% for file in torrent.library_files.iter().flatten() %}
      <li>{{ file.to_string_lossy() }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  {% when EventType::Cleaned { library_path, files } %}
    Cleaned {{ torrent_main_cat(&torrent) }} Torrent {{ torrent_title(&torrent) | safe }}<br />
    {% if let Some(torrent) = torrent %}
    formats: {{ torrent.meta.filetypes.join(", ") }}<br />
    {% endif %}
    from: {{ library_path.to_string_lossy() }}<br />
    {% if let Some(r) = replacement %}
    <br />replaced with: {{ torrent_title(&replacement) | safe }}<br />
    {% if let Some(replacement) = replacement %}
    formats: {{ replacement.meta.filetypes.join(", ") }}<br />
    {% endif %}
    {% if let Some(library_path) = r.library_path %}
    in: {{ library_path.to_string_lossy() }}<br />
    {% endif %}
    {% endif %}<br />
    Removed files:
    <ul>
    {% for file in files %}
      <li>{{ file.to_string_lossy() }}</li>
    {% endfor %}
    </ul>
  {% endmatch %}
  </div>
{% endfor %}
{% if events.is_empty() %}
<p><i>No events yet</i>
{% endif %}
</div>
{{ paging | safe }}
{% endblock %}
