{% extends "base.html" %}

{% block title %}Selected Torrents{% endblock %}

{% block head %}
  <style>
    .SelectedTable {
      {{self::table_styles(2) | safe}}
    }
  </style>
{% endblock %}

{% block content %}
<h1>Events</h1>
<div class="SelectedTable table">
{% for (event, torrent, replacement) in events %}
  <div>{{ self::time(event.created_at) }}</div>
  <div>
  {% match event.event %}
  {% when EventType::Grabbed %}
    Grabbed Torrent {{ torrent_title(&torrent) }}<br />
  {% when EventType::Linked { library_path } %}
    Linked Torrent {{ torrent_title(&torrent) }}<br />
    to: {{ library_path.to_string_lossy() }}
    {% if let Some(torrent) = torrent %}
    files:
    <ul>
    {% for file in torrent.library_files.iter().flatten() %}
      <li>{{ file.to_string_lossy() }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  {% when EventType::Cleaned { library_path, files } %}
    Cleaned Torrent {{ torrent_title(&torrent) }}<br />
    from: {{ library_path.to_string_lossy() }}<br />
    {% if let Some(replacement) = replacement %}
    replaced with: {{ replacement.meta.title }}<br />
    {% if let Some(library_path) = replacement.library_path %}
    in: {{ library_path.to_string_lossy() }}<br />
    {% endif %}
    {% endif %}
    Removed files:
    <ul>
    {% for file in files %}
      <li>{{ file.to_string_lossy() }}</li>
    {% endfor %}
    </ul>
  {% endmatch %}
  </div>
{% endfor %}
</div>
{% endblock %}
