{% extends "base.html" %}

{% block title %}MLM{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<p>{% if let Some(username) = username %}Hi {{ username }}! {% endif %}Welcome to MLM, select a page above</p>

<div class="infoboxes">
<div class="infobox">
  <h2>Autograbber</h2>
  <p>Last run: {% match autograbber_run_at %}{% when Some(run_at) %}{{ self::time(run_at) }}{% when None %}never{% endmatch %}
  {% if autograbber_run_at.is_some() %}
  <p>Result: {% match autograbber_result %}{% when Some(Ok(())) %}success{% when Some(Err(err)) %}{{ err }}{% when None %}running{% endmatch %}
  {% endif %}
</div>

<div class="infobox">
  <h2>Linker</h2>
  <p>Last run: {% match linker_run_at %}{% when Some(run_at) %}{{ self::time(run_at) }}{% when None %}never{% endmatch %}
  {% if linker_run_at.is_some() %}
  <p>Result: {% match linker_result %}{% when Some(Ok(())) %}success{% when Some(Err(err)) %}{{ err }}{% when None %}running{% endmatch %}
  {% endif %}
</div>

<div class="infobox">
  <h2>Cleaner</h2>
  <p>Last run: {% match cleaner_run_at %}{% when Some(run_at) %}{{ self::time(run_at) }}{% when None %}never{% endmatch %}
  {% if cleaner_run_at.is_some() %}
  <p>Result: {% match cleaner_result %}{% when Some(Ok(())) %}success{% when Some(Err(err)) %}{{ err }}{% when None %}running{% endmatch %}
  {% endif %}
</div>

<div class="infobox">
  <h2>Goodreads Import</h2>
  <p>Last run: {% match goodreads_run_at %}{% when Some(run_at) %}{{ self::time(run_at) }}{% when None %}never{% endmatch %}
  {% if goodreads_run_at.is_some() %}
  <p>Result: {% match goodreads_result %}{% when Some(Ok(())) %}success{% when Some(Err(err)) %}{{ err }}{% when None %}running{% endmatch %}
  {% endif %}
</div>
</div>
{% endblock %}
