{% extends "base.html" %}

{% block title %}MLM - Replaced Torrents{% endblock %}

{% block head %}
  <style>
    .TorrentsTable {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
<form method=post>
<div class="row">
  <h1>Replaced Torrents</h1>
  <div class="actions actions_torrent">
    <button name=action value=refresh>refresh metadata</button>
    <button name=action value=refresh-relink>refresh metadata and relink</button>
    <button name=action value=remove data-prompt="Are you sure you want to remove the selected torrents?">remove torrent from MLM</button>
  </div>
  <div class="table_options">
    <div class="option_group query">
      Columns:
      <label>
        Authors
        <input type=checkbox name=show {% if show.authors %}checked{% endif %} value="author">
      </label>
      <label>
        Narrators
        <input type=checkbox name=show {% if show.narrators %}checked{% endif %} value="narrator">
      </label>
      <label>
        Series
        <input type=checkbox name=show {% if show.series %}checked{% endif %} value="series">
      </label>
      <label>
        Language
        <input type=checkbox name=show {% if show.language %}checked{% endif %} value="language">
      </label>
      <label>
        Size
        <input type=checkbox name=show {% if show.size %}checked{% endif %} value="size">
      </label>
      <label>
        Filetypes
        <input type=checkbox name=show {% if show.filetypes %}checked{% endif %} value="filetype">
      </label>
    </div>
    <div class="option_group query">
      Page size: {{ paging.selector([100, 500, 1000, 5000]) | safe }}
    </div>
  </div>
</div>
<p>Torrents that have been unlinked from the library and been replaced with a preferred version</p>
<div class="TorrentsTable table2">
<div>
  {{ table_header_all("torrent", 30) }}
  {{ table_header_s(Some(TorrentsPageSort::Kind), "Type", 110) }}
  {{ table_header_s(Some(TorrentsPageSort::Title), "Title", Flex(2, 170)) }}
  {{ table_header_if(show.authors, Some(TorrentsPageSort::Authors), "Authors", Flex(1, 130)) }}
  {{ table_header_if(show.narrators, Some(TorrentsPageSort::Narrators), "Narrators", Flex(1, 130)) }}
  {{ table_header_if(show.series, Some(TorrentsPageSort::Series), "Series", Flex(1, 130)) }}
  {{ table_header_if(show.language, Some(TorrentsPageSort::Language), "Language", 100) }}
  {{ table_header_if(show.size, Some(TorrentsPageSort::Size), "Size", 80) }}
  {{ table_header_if(show.filetypes, None, "Filetypes", 100) }}
  {{ table_header_s(Some(TorrentsPageSort::Replaced), "Replaced", 157) }}
  {{ table_header_s(Some(TorrentsPageSort::CreatedAt), "Added At", 157) }}
  {{ table_header_s(None, "", 132) }}
</div>
{% for (torrent, replacement) in torrents %}
<div>
  <div><input type=checkbox name=torrent value={{torrent.hash}}></div>
  <div>{{ item(TorrentsPageFilter::Kind, torrent.meta.main_cat.as_str()) }}</div>
  <div>{{ item(TorrentsPageFilter::Title, torrent.meta.title) }}</div>
  {% if show.authors %}
  <div>{{ items(TorrentsPageFilter::Author, torrent.meta.authors) }}</div>
  {% endif %}
  {% if show.narrators %}
  <div>{{ items(TorrentsPageFilter::Narrator, torrent.meta.narrators) }}</div>
  {% endif %}
  {% if show.series %}
  <div>{{ series(TorrentsPageFilter::Series, torrent.meta.series) }}</div>
  {% endif %}
  {% if show.language %}
  <div>{{ item(TorrentsPageFilter::Language, torrent.meta.language.map(Language::to_str).unwrap_or_default()) }}</div>
  {% endif %}
  {% if show.size %}
  <div>{{ torrent.meta.size }}</div>
  {% endif %}
  {% if show.filetypes %}
  <div>{{ items(TorrentsPageFilter::Filetype, torrent.meta.filetypes) }}</div>
  {% endif %}
  <div>
    {% if let Some((_, replaced_at)) = torrent.replaced_with %}{{ self::time(replaced_at) }}{% endif %}
  </div>
  <div>{{ self::time(torrent.created_at) }}</div>
  <div>
    <a href="/torrents/{{ torrent.hash }}">open</a>
    <a href="https://www.myanonamouse.net/t/{{ torrent.meta.mam_id }}" target=_blank>MaM</a>
    {% if let (Some(abs_url), Some(abs_id)) = (abs_url.as_ref(), torrent.abs_id.as_ref()) %}
      <a href="{{ abs_url }}/audiobookshelf/item/{{ abs_id }}" target=_blank>ABS</a>
    {% endif %}
  </div>

  <div></div>
  <div>replaced with:</div>
  <div>{{ item(TorrentsPageFilter::Title, replacement.meta.title) }}</div>
  {% if show.authors %}
  <div>{{ items(TorrentsPageFilter::Author, replacement.meta.authors) }}</div>
  {% endif %}
  {% if show.narrators %}
  <div>{{ items(TorrentsPageFilter::Narrator, replacement.meta.narrators) }}</div>
  {% endif %}
  {% if show.series %}
  <div>{{ series(TorrentsPageFilter::Series, replacement.meta.series) }}</div>
  {% endif %}
  {% if show.language %}
  <div>{{ item(TorrentsPageFilter::Language, replacement.meta.language.map(Language::to_str).unwrap_or_default()) }}</div>
  {% endif %}
  {% if show.size %}
  <div>{{ replacement.meta.size }}</div>
  {% endif %}
  {% if show.filetypes %}
  <div>{{ items(TorrentsPageFilter::Filetype, replacement.meta.filetypes) }}</div>
  {% endif %}
  <div>
    {% if let Some((_, replaced_at)) = replacement.replaced_with %}{{ self::time(replaced_at) }}{% endif %}
  </div>
  <div>{{ self::time(replacement.created_at) }}</div>
  <div>
    <a href="/torrents/{{ replacement.hash }}">open</a>
    <a href="https://www.myanonamouse.net/t/{{ replacement.meta.mam_id }}" target=_blank>MaM</a>
    {% if let (Some(abs_url), Some(abs_id)) = (abs_url.as_ref(), replacement.abs_id.as_ref()) %}
      <a href="{{ abs_url }}/audiobookshelf/item/{{ abs_id }}" target=_blank>ABS</a>
    {% endif %}
  </div>
</div>
{% endfor %}
</div>
{% if torrents.is_empty() %}
<p><i>You have no replaced torrents</i>
{% endif %}
</form>
{{ paging | safe }}
<style>
  .TorrentsTable {
    display: grid;
    {{table2_styles() | safe}}
  }
</style>
{% endblock %}
