{% extends "base.html" %}

{% block title %}MLM - Replaced Torrents{% endblock %}

{% block head %}
  <style>
    .TorrentsTable {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
<form method=post>
<div class="row">
  <h1>Replaced Torrents</h1>
  <div class="actions actions_torrent">
    <button name=action value=refresh>refresh metadata</button>
    <button name=action value=refresh-relink>refresh metadata and relink</button>
    <button name=action value=remove data-prompt="Are you sure you want to remove the selected torrents?">remove torrent from MLM</button>
  </div>
  <div class="table_options">
    <div class="option_group">
      Columns:
      <label>
        Authors
        <input type=checkbox name=show {% if show.authors %}checked{% endif %} value="author">
      </label>
      <label>
        Narrators
        <input type=checkbox name=show {% if show.narrators %}checked{% endif %} value="narrator">
      </label>
      <label>
        Series
        <input type=checkbox name=show {% if show.series %}checked{% endif %} value="series">
      </label>
      <label>
        Language
        <input type=checkbox name=show {% if show.language %}checked{% endif %} value="language">
      </label>
      <label>
        Filetypes
        <input type=checkbox name=show {% if show.filetypes %}checked{% endif %} value="filetype">
      </label>
    </div>
    <div class="option_group">
      Page size: {{ paging.selector([100, 500, 1000, 5000]) | safe }}
    </div>
  </div>
</div>
<p>Torrents that have been unlinked from the library and been replaced with a preferred version</p>
<div class="TorrentsTable table">
  {{ table_header_all("torrent", "30px") }}
  {{ table_header_s(Some(TorrentsPageSort::Kind), "Type", "84px") }}
  {{ table_header_s(Some(TorrentsPageSort::Title), "Title", "2fr") }}
  {{ table_header_if(show.authors, Some(TorrentsPageSort::Authors), "Authors", "1fr") }}
  {{ table_header_if(show.narrators, Some(TorrentsPageSort::Narrators), "Narrators", "1fr") }}
  {{ table_header_if(show.series, Some(TorrentsPageSort::Series), "Series", "1fr") }}
  {{ table_header_if(show.language, Some(TorrentsPageSort::Language), "Language", "100px") }}
  {{ table_header_if(show.filetypes, None, "Filetypes", "100px") }}
  {{ table_header_s(Some(TorrentsPageSort::Replaced), "Replaced", "157px") }}
  {{ table_header_s(Some(TorrentsPageSort::CreatedAt), "Added At", "157px") }}
  {{ table_header_s(None, "", "44px") }}
{% for (torrent, replacement) in torrents %}
  <div><input type=checkbox name=torrent value={{torrent.hash}}></div>
  <div>{{ self::item(TorrentsPageFilter::Kind, torrent.meta.main_cat.as_str()) }}</div>
  <div>{{ self::item(TorrentsPageFilter::Title, torrent.meta.title) }}</div>
  {% if show.authors %}
  <div>{{ self::items(TorrentsPageFilter::Author, torrent.meta.authors) }}</div>
  {% endif %}
  {% if show.narrators %}
  <div>{{ self::items(TorrentsPageFilter::Narrator, torrent.meta.narrators) }}</div>
  {% endif %}
  {% if show.series %}
  <div>{{ self::series(TorrentsPageFilter::Series, torrent.meta.series) }}</div>
  {% endif %}
  {% if show.language %}
  <div>{{ self::item(TorrentsPageFilter::Language, torrent.meta.language.map(Language::to_str).unwrap_or_default()) }}</div>
  {% endif %}
  {% if show.filetypes %}
  <div>{{ self::items(TorrentsPageFilter::Filetype, torrent.meta.filetypes) }}</div>
  {% endif %}
  <div>
    {% if let Some((_, replaced_at)) = torrent.replaced_with %}{{ self::time(replaced_at) }}{% endif %}
  </div>
  <div>{{ self::time(torrent.created_at) }}</div>
  <div><a href="https://www.myanonamouse.net/t/{{ torrent.meta.mam_id }}" target=_blank>MaM</a></div>

  <div></div>
  <div>replaced with:</div>
  <div>{{ self::item(TorrentsPageFilter::Title, replacement.meta.title) }}</div>
  {% if show.authors %}
  <div>{{ self::items(TorrentsPageFilter::Author, replacement.meta.authors) }}</div>
  {% endif %}
  {% if show.narrators %}
  <div>{{ self::items(TorrentsPageFilter::Narrator, replacement.meta.narrators) }}</div>
  {% endif %}
  {% if show.series %}
  <div>{{ self::series(TorrentsPageFilter::Series, replacement.meta.series) }}</div>
  {% endif %}
  {% if show.language %}
  <div>{{ self::item(TorrentsPageFilter::Language, replacement.meta.language.map(Language::to_str).unwrap_or_default()) }}</div>
  {% endif %}
  {% if show.filetypes %}
  <div>{{ self::items(TorrentsPageFilter::Filetype, replacement.meta.filetypes) }}</div>
  {% endif %}
  <div>
    {% if let Some((_, replaced_at)) = replacement.replaced_with %}{{ self::time(replaced_at) }}{% endif %}
  </div>
  <div>{{ self::time(replacement.created_at) }}</div>
  <div><a href="https://www.myanonamouse.net/t/{{ replacement.meta.mam_id }}" target=_blank>MaM</a></div>
{% endfor %}
</div>
{% if torrents.is_empty() %}
<p><i>You have no replaced torrents</i>
{% endif %}
</form>
{{ paging | safe }}
<style>
  .TorrentsTable {
    display: grid;
    {{self::table_styles_rows(*((self.cols.borrow().len()) as u64), 2) | safe}}
    grid-template-columns: {{ self.cols.borrow().join(" ") }};
  }
</style>
{% endblock %}
