{% extends "base.html" %}

{% block title %}MLM - Search{% endblock %}

{% block head %}
<style>
  .search {
    flex: 1 0 auto;
    display: flex;
    gap: 8px;
    input {
      flex: 1;
    }
  }
</style>
{% endblock %}

{% block content %}
<form class="row">
  <h1>MaM Search</h1>
  <label>
    <input type="submit" style="display:none">
    Search: <input type=text value="{{ query.q }}" name=q>
    <button is="clear-button" type="button"></button>
  </label>
</form>
{{ torrents }}
{% endblock %}
