{% extends "base.html" %}

{% block title %}MLM - Selected Torrents{% endblock %}

{% block head %}
  <style>
    .SelectedTable {
      {{self::table_styles(10) | safe}}
    }
  </style>
{% endblock %}

{% block content %}
<h1>Selected Torrents</h1>
<p>Torrents that the autograbber has selected and will be downloaded</p>
{% if let Some(unsats) = unsats %}
<p>Unsats: {{ unsats.count }} / {{ unsats.limit }}{% if !torrents.is_empty() %}<br>Queued Torrents: {{ torrents.len() }}{% endif %}</p>
{% endif %}
<div class="SelectedTable table">
  {{ table_header(Some(SelectedPageSort::Kind), "Type") }}
  {{ table_header(Some(SelectedPageSort::Title), "Title") }}
  {{ table_header(Some(SelectedPageSort::Authors), "Authors") }}
  {{ table_header(Some(SelectedPageSort::Narrators), "Narrators") }}
  {{ table_header(Some(SelectedPageSort::Series), "Series") }}
  {{ table_header(None, "Filetypes") }}
  {{ table_header(Some(SelectedPageSort::Cost), "Cost") }}
  {{ table_header(Some(SelectedPageSort::Buffer), "Required Unsats") }}
  {{ table_header(Some(SelectedPageSort::CreatedAt), "Added At") }}
  {{ table_header(None, "") }}
{% for torrent in torrents %}
  <div>{{ self::item(SelectedPageFilter::Kind, torrent.meta.main_cat.as_str()) }}</div>
  <div>{{ self::item(SelectedPageFilter::Title, torrent.meta.title) }}</div>
  <div>{{ self::items(SelectedPageFilter::Author, torrent.meta.authors) }}</div>
  <div>{{ self::items(SelectedPageFilter::Narrator, torrent.meta.narrators) }}</div>
  <div>{{ self::series(SelectedPageFilter::Series, torrent.meta.series) }}</div>
  <div>{{ self::items(SelectedPageFilter::Filetype, torrent.meta.filetypes) }}</div>
  <div>{{ self::item(SelectedPageFilter::Cost, torrent.cost.as_str()) }}</div>
  <div>{{ torrent.unsat_buffer.unwrap_or(*unsat_buffer) }}</div>
  <div>{{ self::time(torrent.created_at) }}</div>
  <div><a href="https://www.myanonamouse.net/t/{{ torrent.meta.mam_id }}" target=_blank>MaM</a></div>
{% endfor %}
{% if torrents.is_empty() %}
<p><i>There are currently no torrents selected for downloading</i>
{% endif %}
</div>
{% endblock %}
