{% extends "base.html" %}

{% block title %}MLM - Selected Torrents{% endblock %}

{% block head %}
  <style>
    .SelectedTable {
      {{self::table_styles(12) | safe}}
    }
  </style>
{% endblock %}

{% block content %}
<form method=post>
<div class="row">
  <h1>Selected Torrents</h1>
  <div class="actions actions_torrent">
    <button name=action value=remove>unselect for download</button>
    <button name=action value=update>set required unsats to:</button> <input type=number name=unsats value=1>
  </div>
</div>
<p>Torrents that the autograbber has selected and will be downloaded</p>
{% if let Some(unsats) = unsats %}
<p>Unsats: {{ unsats.count }} / {{ unsats.limit }}{% if !torrents.is_empty() %}<br>Queued Torrents: {{ torrents.len() }}{% endif %}</p>
{% endif %}
<div class="SelectedTable table">
  {{ table_header_all_s("torrent") }}
  {{ table_header(Some(SelectedPageSort::Kind), "Type") }}
  {{ table_header(Some(SelectedPageSort::Title), "Title") }}
  {{ table_header(Some(SelectedPageSort::Authors), "Authors") }}
  {{ table_header(Some(SelectedPageSort::Narrators), "Narrators") }}
  {{ table_header(Some(SelectedPageSort::Series), "Series") }}
  {{ table_header(Some(SelectedPageSort::Size), "Size") }}
  {{ table_header(None, "Filetypes") }}
  {{ table_header(Some(SelectedPageSort::Cost), "Cost") }}
  {{ table_header(Some(SelectedPageSort::Buffer), "Required Unsats") }}
  {{ table_header(Some(SelectedPageSort::CreatedAt), "Added At") }}
  {{ table_header(None, "") }}
{% for torrent in torrents %}
  <div><input type=checkbox name=torrent value={{torrent.mam_id}}></div>
  <div>{{ item(SelectedPageFilter::Kind, torrent.meta.main_cat.as_str()) }}</div>
  <div>{{ item(SelectedPageFilter::Title, torrent.meta.title) }}</div>
  <div>{{ items(SelectedPageFilter::Author, torrent.meta.authors) }}</div>
  <div>{{ items(SelectedPageFilter::Narrator, torrent.meta.narrators) }}</div>
  <div>{{ series(SelectedPageFilter::Series, torrent.meta.series) }}</div>
  <div>{{ torrent.meta.size }}</div>
  <div>{{ items(SelectedPageFilter::Filetype, torrent.meta.filetypes) }}</div>
  <div>{{ item(SelectedPageFilter::Cost, torrent.cost.as_str()) }}</div>
  <div>{{ torrent.unsat_buffer.unwrap_or(*unsat_buffer) }}</div>
  <div>{{ self::time(torrent.created_at) }}</div>
  <div><a href="https://www.myanonamouse.net/t/{{ torrent.meta.mam_id }}" target=_blank>MaM</a></div>
{% endfor %}
{% if torrents.is_empty() %}
<p><i>There are currently no torrents selected for downloading</i>
{% endif %}
</div>
</form>
{% endblock %}
