{% extends "base.html" %}

{% block title %}Torrents{% endblock %}

{% block head %}
  <style>
    .TorrentsTable {
      {{self::table_styles(8) | safe}}
    }
  </style>
{% endblock %}

{% block content %}
<h1>Torrents</h1>
<div class="TorrentsTable table">
  {{ table_header(Some(TorrentsPageSort::Kind), "Type") | safe }}
  {{ table_header(Some(TorrentsPageSort::Title), "Title") | safe }}
  {{ table_header(Some(TorrentsPageSort::Authors), "Authors") | safe }}
  {{ table_header(Some(TorrentsPageSort::Narrators), "Narrators") | safe }}
  {{ table_header(Some(TorrentsPageSort::Series), "Series") | safe }}
  {{ table_header(Some(TorrentsPageSort::Linked), "Is Linked") | safe }}
  {{ table_header(None, "Filetypes") | safe }}
  {{ table_header(Some(TorrentsPageSort::CreatedAt), "Added At") | safe }}
{% for torrent in torrents %}
  <div>{{ self::item(TorrentsPageFilter::Kind, torrent.meta.main_cat.as_str()) | safe }}</div>
  <div>{{ self::item(TorrentsPageFilter::Title, torrent.meta.title) | safe }}</div>
  <div>{{ self::items(TorrentsPageFilter::Author, torrent.meta.authors) | safe }}</div>
  <div>{{ self::items(TorrentsPageFilter::Narrator, torrent.meta.narrators) | safe }}</div>
  <div>{{ self::series(TorrentsPageFilter::Series, torrent.meta.series) | safe }}</div>
  <div>{{ self::item(TorrentsPageFilter::Linked, &torrent.library_path.is_some().to_string()) | safe }}</div>
  <div>{{ self::items(TorrentsPageFilter::Filetype, torrent.meta.filetypes) | safe }}</div>
  <div>{{ self::time(torrent.created_at) }}</div>
{% endfor %}
</div>
{% endblock %}
