{% extends "base.html" %}

{% block title %}MLM - Torrents{% endblock %}

{% block head %}
  <style>
    .TorrentsTable {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
<div class="row">
  <h1>Torrents</h1>
  <div class="show_toggles">
    Columns:
    <label>
      Authors
      <input type=checkbox {% if show.authors %}checked{% endif %} value="author">
    </label>
    <label>
      Narrators
      <input type=checkbox {% if show.narrators %}checked{% endif %} value="narrator">
    </label>
    <label>
      Series
      <input type=checkbox {% if show.series %}checked{% endif %} value="series">
    </label>
    <label>
      Language
      <input type=checkbox {% if show.language %}checked{% endif %} value="language">
    </label>
    <label>
      Filetypes
      <input type=checkbox {% if show.filetypes %}checked{% endif %} value="filetype">
    </label>
    <label>
      Path
      <input type=checkbox {% if show.path %}checked{% endif %} value="path">
    </label>
  </div>
</div>
<div class="TorrentsTable table">
  {{ table_header_s(Some(TorrentsPageSort::Kind), "Type", "84px") | safe }}
  {{ table_header_s(Some(TorrentsPageSort::Title), "Title", "2fr") | safe }}
  {{ table_header_if(show.authors, Some(TorrentsPageSort::Authors), "Authors", "1fr") | safe }}
  {{ table_header_if(show.narrators, Some(TorrentsPageSort::Narrators), "Narrators", "1fr") | safe }}
  {{ table_header_if(show.series, Some(TorrentsPageSort::Series), "Series", "1fr") | safe }}
  {{ table_header_if(show.language, Some(TorrentsPageSort::Language), "Language", "100px") | safe }}
  {{ table_header_if(show.filetypes, None, "Filetypes", "100px") | safe }}
  {{ table_header_if(!show.path, Some(TorrentsPageSort::Linked), "Linked", "80px") | safe }}
  {{ table_header_if(show.path, Some(TorrentsPageSort::Linked), "Path", "2fr") | safe }}
  {{ table_header_s(Some(TorrentsPageSort::Replaced), "Replaced", "97px") | safe }}
  {{ table_header_s(Some(TorrentsPageSort::CreatedAt), "Added At", "157px") | safe }}
  {{ table_header_s(None, "", "44px") | safe }}
{% for torrent in torrents %}
  <div>{{ self::item(TorrentsPageFilter::Kind, torrent.meta.main_cat.as_str()) | safe }}</div>
  <div>{{ self::item(TorrentsPageFilter::Title, torrent.meta.title) | safe }}</div>
  {% if show.authors %}
  <div>{{ self::items(TorrentsPageFilter::Author, torrent.meta.authors) | safe }}</div>
  {% endif %}
  {% if show.narrators %}
  <div>{{ self::items(TorrentsPageFilter::Narrator, torrent.meta.narrators) | safe }}</div>
  {% endif %}
  {% if show.series %}
  <div>{{ self::series(TorrentsPageFilter::Series, torrent.meta.series) | safe }}</div>
  {% endif %}
  {% if show.language %}
  <div>{{ self::item(TorrentsPageFilter::Language, torrent.meta.language.map(Language::to_str).unwrap_or_default()) | safe }}</div>
  {% endif %}
  {% if show.filetypes %}
  <div>{{ self::items(TorrentsPageFilter::Filetype, torrent.meta.filetypes) | safe }}</div>
  {% endif %}
  {% if show.path %}
  <div>
    {% match torrent.library_path %}
    {% when Some(path) %}
      {{ path.to_string_lossy() }}
    {% when None %}
    {% endmatch %}
  </div>
  {% else %}
  <div>
    {{ self::item(TorrentsPageFilter::Linked, &torrent.library_path.is_some().to_string()) | safe }}
  </div>
  {% endif %}
  <div {% match torrent.replaced_with %}{% when Some((_, replaced_at)) %}title="replaced at: {{ self::time(replaced_at) }}"{% when None %}{% endmatch %}>
    {{ self::item(TorrentsPageFilter::Replaced, &torrent.replaced_with.is_some().to_string()) | safe }}
  </div>
  <div>{{ self::time(torrent.created_at) }}</div>
  <div><a href="https://www.myanonamouse.net/t/{{ torrent.meta.mam_id }}" target=_blank>MaM</a></div>
{% endfor %}
</div>
<style>
  .TorrentsTable {
    display: grid;
    {{self::table_styles(*((self.cols.borrow().len()) as u64)) | safe}}
    grid-template-columns: {{ self.cols.borrow().join(" ") }};
  }
</style>
{% endblock %}
