{% extends "base.html" %}

{% block title %}MLM - {{ torrent.meta.title }}{% endblock %}

{% block content %}
<div class="row">
  <h1>{{ torrent.meta.title }}</h1>
</div>
<p>By {{ self::items(TorrentsPageFilter::Author, torrent.meta.authors) }}</p>
{% if !torrent.meta.series.is_empty() %}
  <p>Series: {{ self::series(TorrentsPageFilter::Series, torrent.meta.series) }}</p>
{% endif %}
{% if !torrent.meta.narrators.is_empty() %}
  <p>Narrator: {{ self::items(TorrentsPageFilter::Narrator, torrent.meta.narrators) }}</p>
{% endif %}
{% if let Some(language) = torrent.meta.language %}
  <p>Language: {{ language.to_str() }}</p>
{% endif %}
{% if let Some(cat) = torrent.meta.cat %}
  <p>Category: {{ torrent.meta.main_cat.as_str() }} - {{ cat.as_str() }}</p>
{% else %}
  <p>Category: {{ torrent.meta.main_cat.as_str() }}</p>
{% endif %}
<p>Size: {{ torrent.meta.size }}</p>
{% if let Some(library_path) = torrent.library_path %}
  <div class=row style="justify-content:flex-start">
    Linked Path: {{ library_path.to_string_lossy() }}
    <form method=post><button name=action value=refresh-relink>refresh metadata and relink</button></form>
  </div>
{% endif %}
{% if wanted_path != torrent.library_path %}
  {% if let Some(wanted_path) = wanted_path %}
    <div class=row style="justify-content:flex-start">
      Wanted Path: {{ wanted_path.to_string_lossy() }}
    </div>
  {% else %}
    <div class=row style="justify-content:flex-start">
      No longer wanted in library
    </div>
  {% endif %}
{% endif %}
<details>
  <summary>Files</summary>
  <ul>
  {% for file in torrent.library_files.iter().flatten() %}
    <li>{{ file.to_string_lossy() }}</li>
  {% endfor %}
  </ul>
</details>
{% if let Some(qbit) = qbit_data %}
  <form method=post class=row style="justify-content:flex-start">
    Status: {{ "{:#?}" | format(qbit.torrent.state) }}
    {% match qbit.torrent.state %}
    {% when TorrentState::Error %}
    {% when TorrentState::MissingFiles %}
    {% when TorrentState::Moving %}
    {% when TorrentState::Unknown %}
    {% when TorrentState::Allocating %}
    {% when TorrentState::CheckingResumeData %}
    {% when TorrentState::Uploading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::StoppedUploading %}
      <button name=action value=torrent-start>start</button>
    {% when TorrentState::QueuedUploading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::StalledUploading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::CheckingUploading %}
    {% when TorrentState::ForcedUploading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::Downloading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::MetadataDownloading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::ForcedMetadataDownloading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::StoppedDownloading %}
      <button name=action value=torrent-start>start</button>
    {% when TorrentState::QueuedDownloading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::StalledDownloading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::CheckingDownloading %}
    {% when TorrentState::ForcedDownloading %}
      <button name=action value=torrent-stop>stop</button>
    {% endmatch %}
  </form>
  <form method=post class=row style="justify-content:flex-start">
    Category: <select name=category>
      {% for cat in qbit.categories.keys() %}
        <option {% if cat == &qbit.torrent.category %}selected{% endif %}>{{ cat }}</option>
      {% endfor %}
    </select>
    Tags: <div class=option_group>
      {% for tag in qbit.tags %}
        <label>
          {{ tag }}
          <input type=checkbox name=tags {% if qbit.torrent_tags.contains(tag.as_str()) %}checked{% endif %} value="{{tag}}">
        </label>
      {% endfor %}
    </div>
    <button type=submit name=action value=qbit>save</button>
  </form>
  <p>Uploaded: {{ Size::from_bytes(*(&qbit.torrent.uploaded as u64)) }}</p>
  {% if let Some(tracker) = qbit.trackers.last() %}
  <form method=post class=row style="justify-content:flex-start">
    {% if !tracker.msg.is_empty() %}
      Tracker Msg: {{ tracker.msg }}
      {% if tracker.msg == "torrent not registered with this tracker" %}
        <button type=submit name=action value=remove-torrent>remove seeding files</button>
      {% else %}
        <button type=submit name=action value=remove-torrent data-prompt="Are you sure you want to remove the seeding files?">remove seeding files</button>
      {% endif %}
    {% else %}
      <button type=submit name=action value=remove-torrent data-prompt="Are you sure you want to remove the seeding files?">remove seeding files</button>
    {% endif %}
  </form>
  {% endif %}
{% endif %}
{% if let Some(book) = book %}
  <a href="{{ abs_url }}/audiobookshelf/item/{{ book.id }}" target=_blank>Open in ABS</a>
  {# {% if !book.media.chapters.is_empty() %} #}
  {# <details> #}
  {#   <summary>Chapters</summary> #}
  {#   <table> #}
  {#   {% for chapter in book.media.chapters %} #}
  {#     <tr><td>{{ chapter.title }}</td><td style="text-align: right">{{ self::duration(chapter.end - chapter.start) }}</td></tr> #}
  {#   {% endfor %} #}
  {#   </table> #}
  {# </details> #}
  {# {% endif %} #}
{% endif %}
{% if let Some(mam_torrent) = mam_torrent %}
  <a href="https://www.myanonamouse.net/t/{{ mam_torrent.id }}" target=_blank>Open in MaM</a>
  <p>{{ mam_torrent.tags }}</p>
  <details>
    <summary>Description</summary>
    {% if let Some(description) = mam_torrent.description %}
      <p>{{ description | safe }}</p>
    {% endif %}
  </details>
{% endif %}
{% if let Some(mam_meta) = mam_meta %}
{% if &torrent.meta != mam_meta %}
  {% if torrent.meta.title != mam_meta.title %}
    <p>New title: {{ mam_meta.title }}</p>
  {% endif %}
  {% if torrent.meta.authors != mam_meta.authors %}
    <p>New authors: {{ mam_meta.authors.join(", ") }}</p>
  {% endif %}
  {% if torrent.meta.series != mam_meta.series %}
    <p>New series: {{ self::series(TorrentsPageFilter::Series, mam_meta.series) }}</p>
  {% endif %}
  {% if torrent.meta.narrators != mam_meta.narrators %}
    <p>New narrators: {{ mam_meta.narrators.join(", ") }}</p>
  {% endif %}
{% endif %}
{% endif %}
{% endblock %}
