{% extends "base.html" %}

{% block title %}MLM - {{ torrent.meta.title }}{% endblock %}

{% block content %}
<div class="row">
  <h1>{{ torrent.meta.title }}</h1>
</div>
<p>By {{ self::items(TorrentsPageFilter::Author, torrent.meta.authors) }}</p>
{% if !torrent.meta.series.is_empty() %}
  <p>Series: {{ self::series(TorrentsPageFilter::Series, torrent.meta.series) }}</p>
{% endif %}
{% if !torrent.meta.narrators.is_empty() %}
  <p>Narrator: {{ self::items(TorrentsPageFilter::Narrator, torrent.meta.narrators) }}</p>
{% endif %}
{% if let Some(language) = torrent.meta.language %}
  <p>Language: {{ language.to_str() }}</p>
{% endif %}
{% if let Some(cat) = torrent.meta.cat %}
  <p>Category: {{ torrent.meta.main_cat.as_str() }} - {{ cat.as_str() }}</p>
{% else %}
  <p>Category: {{ torrent.meta.main_cat.as_str() }}</p>
{% endif %}
<p>Size: {{ torrent.meta.size }}</p>
{% if let Some(library_path) = torrent.library_path %}
  <p>Linked Path: {{ library_path.to_string_lossy() }}</p>
{% endif %}
<details>
  <summary>Files</summary>
  <ul>
  {% for file in torrent.library_files.iter().flatten() %}
    <li>{{ file.to_string_lossy() }}</li>
  {% endfor %}
  </ul>
</details>
{% if let Some(qbit) = qbit_data %}
  <p>Status: {{ qbit.torrent.state }}</p>
  <p>Category: {{ qbit.torrent.category }}</p>
  <p>Tags: {{ qbit.torrent.tags }}</p>
  <p>Uploaded: {{ Size::from_bytes(*(&qbit.torrent.uploaded as u64)) }}</p>
  {% if let Some(tracker) = qbit.trackers.last() %}
  {% if !tracker.msg.is_empty() %}
    <p>Tracker Msg: {{ tracker.msg }}</p>
  {% endif %}
  {% endif %}
{% endif %}
{% if let Some(book) = book %}
  <a href="{{ abs_url }}/audiobookshelf/item/{{ book.id }}" target=_blank>Open in ABS</a>
  {% if !book.media.chapters.is_empty() %}
  <details>
    <summary>Chapters</summary>
    <table>
    {% for chapter in book.media.chapters %}
      <tr><td>{{ chapter.title }}</td><td style="text-align: right">{{ self::duration(chapter.end - chapter.start) }}</td></tr>
    {% endfor %}
    </table>
  </details>
  {% endif %}
{% endif %}
{% if let Some(mam_torrent) = mam_torrent %}
  <a href="https://www.myanonamouse.net/t/{{ mam_torrent.id }}" target=_blank>Open in MaM</a>
  <p>{{ mam_torrent.tags }}</p>
  <details>
    <summary>Description</summary>
    {% if let Some(description) = mam_torrent.description %}
      <p>{{ description | safe }}</p>
    {% endif %}
  </details>
{% endif %}
{% if let Some(mam_meta) = mam_meta %}
{% if &torrent.meta != mam_meta %}
  {% if torrent.meta.title != mam_meta.title %}
    <p>New title: {{ mam_meta.title }}</p>
  {% endif %}
  {% if torrent.meta.authors != mam_meta.authors %}
    <p>New authors: {{ mam_meta.authors.join(", ") }}</p>
  {% endif %}
  {% if torrent.meta.series != mam_meta.series %}
    <p>New series: {{ self::series(TorrentsPageFilter::Series, mam_meta.series) }}</p>
  {% endif %}
  {% if torrent.meta.narrators != mam_meta.narrators %}
    <p>New narrators: {{ mam_meta.narrators.join(", ") }}</p>
  {% endif %}
{% endif %}
{% endif %}

{% endblock %}
