{% extends "base.html" %}

{% block title %}MLM - {{ torrent.meta.title }}{% endblock %}

{% block head %}
  <style>
    .EventsTable {
      {{self::table_styles(2) | safe}}
      grid-template-columns: auto 1fr;
    }
  </style>
{% endblock %}

{% block content %}
<div class="row">
  <h1>{{ torrent.meta.title }}</h1>
  <a href="/torrents/{{torrent.id}}/edit" class=btn>edit</a>
</div>
<div class="row">
  <div>
    id: {{ torrent.mam_id }} {% if let Some(vip_status) = torrent.meta.vip_status %}{{ vip_status }}{% endif %}
    {% if let Some(book) = book %}
      <a href="{{ abs_url }}/audiobookshelf/item/{{ book.id }}" target=_blank class=btn>Open in ABS</a>
    {% endif %}
    {% if let Some(mam_torrent) = mam_torrent %}
      <a href="https://www.myanonamouse.net/t/{{ mam_torrent.id }}" target=_blank class=btn>Open in MaM</a>
    {% endif %}
  </div>
  <form method=post>
    <button name=action value=remove data-prompt="Are you sure you want to remove this torrents?">remove torrent from MLM</button>
  </form>
</div>
<p>By {{ items(TorrentsPageFilter::Author, torrent.meta.authors) }}</p>
{% if !torrent.meta.series.is_empty() %}
  <p>Series: {{ series(TorrentsPageFilter::Series, torrent.meta.series) }}</p>
{% endif %}
{% if !torrent.meta.narrators.is_empty() %}
  <p>Narrator: {{ items(TorrentsPageFilter::Narrator, torrent.meta.narrators) }}</p>
{% endif %}
{% if let Some(language) = torrent.meta.language %}
  <p>Language: {{ language.to_str() }}</p>
{% endif %}
{% if let Some(cat) = torrent.meta.cat %}
<p>Category: {{ torrent.meta.media_type.as_str() }} - {{ cat.as_str() }} {{ torrent.meta.flag_icons() }}</p>
{% else %}
  <p>Category: {{ torrent.meta.media_type.as_str() }} {{ torrent.meta.flag_icons() }}</p>
{% endif %}
<p>Size: {{ torrent.meta.size }}</p>
{% if let Some(library_path) = torrent.library_path %}
  <div class=row style="justify-content:flex-start">
    Linked Path: {{ library_path.to_string_lossy() }}
    <form method=post>
      <button name=action value=refresh-relink>refresh metadata and relink</button>
      <button name=action value=clean data-prompt="Are you sure you want to clean this torrent?">clean torrent</button>
    </form>
  </div>
{% endif %}
{% if wanted_path != torrent.library_path %}
  {% if let Some(wanted_path) = wanted_path %}
    <div class=row style="justify-content:flex-start">
      Wanted Path: {{ wanted_path.to_string_lossy() }}
    </div>
  {% else %}
    <div class=row style="justify-content:flex-start">
      No longer wanted in library
    </div>
  {% endif %}
{% endif %}
{% if !torrent.library_files.is_empty() %}
<details>
  <summary>Files</summary>
  <ul>
  {% for file in torrent.library_files.iter().flatten() %}
    <li><a href="/torrents/{{torrent.id}}/{{file.to_string_lossy() | urlencode_strict}}" target=_blank>{{ file.to_string_lossy() }}</a></li>
  {% endfor %}
  </ul>
</details>
{% endif %}

{% if let Some(torrent) = replacement_torrent %}
  <div class="row">
    <h2>Replaced with: <a href="/torrents/{{torrent.id}}">{{ torrent.meta.title }}</a></h2>
  </div>
  <p>By {{ items(TorrentsPageFilter::Author, torrent.meta.authors) }}</p>
  {% if !torrent.meta.series.is_empty() %}
    <p>Series: {{ series(TorrentsPageFilter::Series, torrent.meta.series) }}</p>
  {% endif %}
  {% if !torrent.meta.narrators.is_empty() %}
    <p>Narrator: {{ items(TorrentsPageFilter::Narrator, torrent.meta.narrators) }}</p>
  {% endif %}
  {% if let Some(language) = torrent.meta.language %}
    <p>Language: {{ language.to_str() }}</p>
  {% endif %}
  {% if let Some(cat) = torrent.meta.cat %}
    <p>Category: {{ torrent.meta.media_type.as_str() }} - {{ cat.as_str() }}</p>
  {% else %}
    <p>Category: {{ torrent.meta.media_type.as_str() }}</p>
  {% endif %}
  <p>Size: {{ torrent.meta.size }}</p>
  {% if let Some(library_path) = torrent.library_path %}
    <div class=row style="justify-content:flex-start">
      Linked Path: {{ library_path.to_string_lossy() }}
    </div>
  {% endif %}
  {% if wanted_path != torrent.library_path %}
    {% if let Some(wanted_path) = wanted_path %}
      <div class=row style="justify-content:flex-start">
        Wanted Path: {{ wanted_path.to_string_lossy() }}
      </div>
    {% else %}
      <div class=row style="justify-content:flex-start">
        No longer wanted in library
      </div>
    {% endif %}
  {% endif %}
  <details>
    <summary>Files</summary>
    <ul>
    {% for file in torrent.library_files.iter().flatten() %}
      <li><a href="/torrents/{{torrent.id}}/{{file.to_string_lossy() | urlencode_strict}}" target=_blank>{{ file.to_string_lossy() }}</a></li>
    {% endfor %}
    </ul>
  </details>
{% else if torrent.replaced_with.is_some() %}
  <form method=post class="row warn" style="justify-content:flex-start">
    Replaced with torrent that has been removed
    <button name=action value=clear-replacement>clear replaced_with</button>
  </form>
{% endif %}

{% if let Some(qbit) = qbit_data %}
  <form method=post class=row style="justify-content:flex-start">
    Status: {{ "{:#?}" | format(qbit.torrent.state) }}
    {% match qbit.torrent.state %}
    {% when TorrentState::Error %}
    {% when TorrentState::MissingFiles %}
    {% when TorrentState::Moving %}
    {% when TorrentState::Unknown %}
    {% when TorrentState::Allocating %}
    {% when TorrentState::CheckingResumeData %}
    {% when TorrentState::Uploading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::StoppedUploading %}
      <button name=action value=torrent-start>start</button>
    {% when TorrentState::QueuedUploading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::StalledUploading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::CheckingUploading %}
    {% when TorrentState::ForcedUploading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::Downloading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::MetadataDownloading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::ForcedMetadataDownloading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::StoppedDownloading %}
      <button name=action value=torrent-start>start</button>
    {% when TorrentState::QueuedDownloading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::StalledDownloading %}
      <button name=action value=torrent-stop>stop</button>
    {% when TorrentState::CheckingDownloading %}
    {% when TorrentState::ForcedDownloading %}
      <button name=action value=torrent-stop>stop</button>
    {% endmatch %}
  </form>
  <form method=post class=row style="justify-content:flex-start">
    Category: <select name=category>
      {% for cat in qbit.categories %}
        <option {% if &cat.name == &qbit.torrent.category %}selected{% endif %}>{{ cat.name }}</option>
      {% endfor %}
    </select>
    Tags: <div class=option_group>
      {% for tag in qbit.tags %}
        <label>
          {{ tag }}
          <input type=checkbox name=tags {% if qbit.torrent_tags.contains(tag.as_str()) %}checked{% endif %} value="{{tag}}">
        </label>
      {% endfor %}
    </div>
    <button type=submit name=action value=qbit>save</button>
  </form>
  <p>Uploaded: {{ Size::from_bytes(*(&qbit.torrent.uploaded as u64)) }}</p>
  {% if let Some(tracker) = qbit.trackers.last() %}
  <form method=post class=row style="justify-content:flex-start">
    {% if !tracker.msg.is_empty() %}
      Tracker Msg: {{ tracker.msg }}
      {% if tracker.msg == "torrent not registered with this tracker" %}
        <button type=submit name=action value=remove-torrent>remove seeding files</button>
      {% else %}
        <button type=submit name=action value=remove-torrent data-prompt="Are you sure you want to remove the seeding files?">remove seeding files</button>
      {% endif %}
    {% else %}
      <button type=submit name=action value=remove-torrent data-prompt="Are you sure you want to remove the seeding files?">remove seeding files</button>
    {% endif %}
  </form>
  {% endif %}
  {% if !qbit_files.is_empty() %}
  <details>
    <summary>Files</summary>
    <ul>
    {% for file in qbit_files.iter() %}
      <li><a href="/torrents/{{torrent.id}}/{{file.name | urlencode_strict}}" target=_blank>{{ file.name }}</a></li>
    {% endfor %}
    </ul>
  </details>
  {% endif %}
{% endif %}
{% if let Some(book) = book %}
  {# {% if !book.media.chapters.is_empty() %} #}
  {# <details> #}
  {#   <summary>Chapters</summary> #}
  {#   <table> #}
  {#   {% for chapter in book.media.chapters %} #}
  {#     <tr><td>{{ chapter.title }}</td><td style="text-align: right">{{ self::duration(chapter.end - chapter.start) }}</td></tr> #}
  {#   {% endfor %} #}
  {#   </table> #}
  {# </details> #}
  {# {% endif %} #}
{% endif %}

{% if let Some(mam_torrent) = mam_torrent %}
  <p>{{ mam_torrent.tags }}</p>
  <details>
    <summary>Description</summary>
    {% if let Some(description) = mam_torrent.description %}
      <p>{{ description | safe }}</p>
    {% endif %}
  </details>
{% endif %}

{% if let Some(mam_meta) = mam_meta %}
{% if &torrent.meta != mam_meta %}
  {% for field in torrent.meta.diff(&mam_meta) %}
    <div>New {{ field.field }}: {{ field.to }}</div>
  {% endfor %}
  <form method=post>
    <button name=action value=refresh>refresh metadata</button>
  </form>
{% endif %}
{% endif %}

<details>
  <summary>Events</summary>

  <div class="EventsTable table">
  {% for event in events %}
    <div>{{ self::time(event.created_at) }}</div>
    <div>
    {% match event.event %}
    {% when EventType::Grabbed { grabber, cost, wedged } %}
      Grabbed Torrent
      {% if wedged %} using a wedge
      {% else %}{% match cost %}
        {% when Some(TorrentCost::Vip) %} as VIP
        {% when Some(TorrentCost::GlobalFreeleech) %} as Freeleech
        {% when Some(TorrentCost::PersonalFreeleech) %} as Personal Freeleech
        {% when Some(_) %} using ratio
        {% when _ %}{% endmatch %}{% endif %}
      {% if let Some(grabber) = grabber %}
        with grabber {{ grabber }}
      {% endif %}
      <br />
    {% when EventType::Linked { linker, library_path } %}
      Linked Torrent
      {% if let Some(linker) = linker %}
        with linker {{ linker }}
      {% endif %}
      <br />
      to: {{ library_path.to_string_lossy() }}<br />
      <details>
        <summary>Files</summary>
        <ul>
        {% for file in torrent.library_files.iter().flatten() %}
          <li>{{ file.to_string_lossy() }}</li>
        {% endfor %}
        </ul>
      </details>
    {% when EventType::Cleaned { library_path, files } %}
      Cleaned Torrent<br />
      size: {{ torrent.meta.size }}<br />
      formats: {{ torrent.meta.filetypes.join(", ") }}<br />
      from: {{ library_path.to_string_lossy() }}<br />
      {% if let Some(replacement) = replacement_torrent %}
      <br />replaced with: {{ torrent_title(&replacement_torrent) | safe }}<br />
      size: {{ replacement.meta.size }}<br />
      formats: {{ replacement.meta.filetypes.join(", ") }}<br />
      {% if let Some(library_path) = replacement.library_path %}
      in: {{ library_path.to_string_lossy() }}<br />
      {% endif %}
      {% endif %}<br />
      <details>
        <summary>Removed files</summary>
        <ul>
        {% for file in files %}
          <li>{{ file.to_string_lossy() }}</li>
        {% endfor %}
        </ul>
      </details>
      </ul>
    {% when EventType::Updated { fields } %}
      Updated Torrent<br />
      <ul>
      {% for field in fields %}
        <li>{{ field.field }}: {{ field.from }} -> {{ field.to }}</li>
      {% endfor %}
      </ul>
    {% when EventType::RemovedFromMam %}
      Torrent was removed from MaM<br />
    {% endmatch %}
    </div>
  {% endfor %}
  {% if events.is_empty() %}
  <p><i>No events yet</i>
  {% endif %}
  </div>
</details>

<h2>Other Torrents</h2>
{{ other_torrents }}
{% if other_torrents.torrents.is_empty() %}
<p><i>No other torrents for this book was found</i>
{% endif %}
{% endblock %}
