body {
        font-family: Arial, sans-serif;
        --color-1: #2a2438; 
        --color-2: #352f44; 
        --color-3: #5c5470; 
        --color-4: #dbd8e3; 

        --background: var(--color-1); 
        --above: var(--color-2); 
        --text: var(--color-4); 

        background: var(--background);
        color: var(--text);
}

a {
        color: var(--text);
        text-decoration-color: transparent;

        &:hover {
                text-decoration-color: currentColor;
        }
}

nav > a {
        padding: 4px;
        background: var(--above);
}

.table {
        display: grid;
        --alternate: var(--above);

        & > .header, & > div {
                display: block;
                padding: 4px;
        }

        & > .header {
                font-weight: bold;
        }
}
