body {
        font-family: Arial, sans-serif;
        --color-1: #2a2438; 
        --color-2: #352f44; 
        --color-3: #5c5470; 
        --color-4: #dbd8e3; 

        --background: var(--color-1); 
        --above: var(--color-2); 
        --text: var(--color-4); 
        --accent: hsl(331.8, 91.3%, 45%);
        --accent-above: hsl(331.8, 91.3%, 55%);
        --warn: #e08067;

        background: var(--background);
        color: var(--text);
}

a {
        color: currentColor;
        text-decoration-color: transparent;

        &:hover {
                text-decoration-color: currentColor;
        }
        &:focus-ring {
                text-decoration-color: currentColor;
        }
}


ul {
        margin-top: 0;
        padding-left: 1em;
}

nav > a {
        padding: 4px;
        background: var(--above);
}

.row {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        gap: 8px;

        h1 {
                flex: 1;
        }
}

.actions {
        display: none;
        gap: 8px;
}

form {
        button {
                appearance: none;
                padding: 4px 8px;
                border: none;
                border-radius: 2px;
                font-size: inherit;
                color: var(--text);
                background: var(--above);
                cursor: pointer;

                &[data-prompt] {
                        color: var(--warn);
                }

                &:hover {
                        background: var(--color-3);
                }
                &:focus-ring {
                        background: var(--color-3);
                }
        }
        
        input[type=text] {
                appearance: none;
                padding: 4px 8px;
                border: none;
                border-radius: 2px;
                font-size: inherit;
                color: var(--text);
                background: var(--above);
                width: max(220px, 20vw);

                &:focus {
                        background: var(--color-3);
                        outline: 2px solid var(--accent);
                }
        }
        input[type=number] {
                appearance: none;
                padding: 4px 8px;
                border: none;
                border-radius: 2px;
                font-size: inherit;
                color: var(--text);
                background: var(--above);
                width: 40px;

                &:focus {
                        background: var(--color-3);
                        outline: 2px solid var(--accent);
                }
        }
        button[is="clear-button"] {
                position: absolute;
                display: none;
                margin-top: 4px;
                margin-left: -4px;
                transform: translateX(-100%);
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-size: inherit;
                color: var(--text);
                cursor: pointer;

                &::after {
                  content: "⨯";
                  transform: translateY(-2px);
                }

                &:hover {
                        background: var(--color-3);
                }
                &:focus-ring {
                        background: var(--color-3);
                }
        }
}

.table_options {
        display: flex;
        gap: 16px;
}

.option_group {
        display: flex;
        gap: 4px;

        label {
                padding: 2px 4px;
                background: var(--above);
                border-radius: 2px;
                &:has([checked]) {
                        background: var(--accent);
                }
        }

        input {
                display: none;
        }

        select {
                appearance: base-select;
                border: none;
                padding: 2px 4px;
                background: var(--above);
                color: var(--text);
                border-radius: 2px;
        }
}

.pagination {
        position: sticky;
        bottom: 0;
        display: grid;
        grid-template-columns: min-content min-content auto min-content min-content;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 8px;
        border-top: 1px solid currentColor;
        background: var(--background);

        > div {
                display: flex;
                gap: 4px;
        }
        a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                padding: 4px;
                background: var(--above);
                border-radius: 50%;

                &:hover {
                        text-decoration: none;
                        background: var(--color-3);
                }
                &:focus-ring {
                        text-decoration: none;
                        background: var(--color-3);
                }
        }
        .active {
                background: var(--accent);

                &:hover {
                        background: var(--accent-above);
                }
                &:focus-ring {
                        background: var(--accent-above);
                }
        }
        .disabled {
                color: var(--color-3);
                background: var(--above) !important;
        }
}

.table {
        display: grid;
        --alternate: var(--above);
        word-break: break-word;

        & > .header, & > div {
                display: block;
                padding: 4px;
        }

        & > .header {
                position: sticky;
                top: 0;
                font-weight: bold;
                border-bottom: 1px solid currentColor;
                background: var(--background);
        }
}

.list_item {
        display: grid;
        grid-template-columns: auto 1fr;
        margin: 24px;
        gap: 16px;

        img {
                width: 64px;
        }
        h3 {
                margin: 0;
        }
        p {
                margin: 0.5em 0;
        }
        .author {
                margin-top: 0;
                font-style: italic;
        }
}

.torrent {
        font-weight: bold;
}

.missing {
        color: var(--warn);
}
.warn {
        color: var(--warn);
}

.configbox {
        font-family: monospace;

        h3 {
                margin-bottom: 0;
        }
        h4 {
                margin-bottom: 0;
        }
        .string {
                color: #b5bd68;
        }
        .num {
                color: #de935f;
        }
}
