{% if mam_torrent.personal_freeleech %}
<img src="/assets/icons/freedownload.png" alt="Personal Freeleech" title="Personal Freeleech" style="filter:hue-rotate(180deg)" />
{% elif mam_torrent.vip %}
{% if mam_torrent.vip_expire > 0 %}
<img src="/assets/icons/vip.png" alt="VIP (expires {{ self::vip_expire(mam_torrent) }})" title="VIP (expires {{ self::vip_expire(mam_torrent) }})" style="filter:hue-rotate(180deg)" />
{% else %}
<img src="/assets/icons/vip.png" alt="VIP" title="VIP" />
{% endif %}
{% elif mam_torrent.free %}
<img src="/assets/icons/freedownload.png" alt="Freeleech" title="Freeleech" />
{% endif %}
