<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ title }} - MLM{% endblock %}</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script async defer type="module" src="/assets/index.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/torrents">Torrents</a>
      <a href="/events">Events</a>
      <a href="/lists">Goodreads lists</a>
      <a href="/errors">Errors</a>
      <a href="/selected">Selected Torrents</a>
      <a href="/duplicate">Duplicate Torrents</a>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
