<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ title }} - MLM{% endblock %}</title>
    <link rel="stylesheet" href="/assets/style.css?{{ build_date() }}">
    <script src="/assets/elements.js?{{ build_date() }}"></script>
    <script async defer type="module" src="/assets/index.js?{{ build_date() }}"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.png">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/torrents">Torrents</a>
      <a href="/events">Events</a>
      <a href="/lists">Goodreads lists</a>
      <a href="/errors">Errors</a>
      <a href="/selected">Selected Torrents</a>
      <a href="/replaced">Replaced Torrents</a>
      <a href="/duplicate">Duplicate Torrents</a>
      <a href="/config">Config</a>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
